<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="test-head text-center">Angular 5 Test</h1>
        <span>
          <i class="fa fa-search"></i>
        </span>
        <div class="text-right">   
        <input type="text" id="search"  aria-label="search" [(ngModel)]="searchFilter.title" placeholder="Search By Title" />
      </div>
      </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>URL</th>
              <th>Created At</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dataList |filterBy:searchFilter | paginate: { itemsPerPage: 6, currentPage: p }; let i = index" (click)="open(showData,data)">
              <td>{{ data.title }}</td>
              <td>{{ data.url }}</td>
              <td>{{ data.created_at | date:'medium'}}</td>
              <td>{{ data.author }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<!--============================================Show Data Modal==================================-->
<ng-template #showData let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title text-center">{{ rowData.title }}</h5>
    <button type="button" class="close" (click)="d('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- showing RAW JSON as the test asked for it, otherwise would have shown it decently! -->
    <p class="modal-textsec">{{ rowData | json }}</p>
  </div>
</ng-template>